{% extends 'voitures/base.html' %}
{% block message %}
    {% if message %}
    <div class="alert alert-{{ type_message }}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>{{ message }}</h4>
    </div>
    {% endif %}
{% endblock %}

{% block containt %}
    <div class="row">
        <!--formulaire pour l'ajout des modeles-->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="pannel pannel-default">
                <div class="pannel-heading">
                    <h3 class="pannel-title">ajou de modele</h3>
                </div>
                <div class="pannel-body">
                    <form class="form" method="POST" action="{% url 'voitures:mesvoitures' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label">modele</label>
                            {{ marqueform.modele }}
                        </div>
                        <div class="form-group">
                            <label for="coutparjour" class="control-label">coutparjour</label>
                            {{ marqueform.coutparjour }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">marque</label>
                            {{ marqueform.marque }}
                        </div>
                        <button type="submit" class="btn btn-success" name="ajtmodel" value="ajtmodel">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
        <!--formulaire pour l'ajout des voitures-->
        <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="pannel pannel-default">
                    <div class="pannel-heading">
                        <h3 class="pannel-title">ajou de voiture</h3>
                    </div>
                    <div class="pannel-body">
                        <form class="form" method="POST" action="{% url 'voitures:mesvoitures' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label">matricule</label>
                                {{ voitureform.matricule }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">modele</label>
                                <select name="modele">
                                    {% for lesmarque in lesmarques %}
                                        <option value="{{ lesmarque.model }}">{{ lesmarque.model }}</option> 
                                    {% endfor %}
                                </select>

                            </div>
                            <input type="hidden" value="0" name="etat"/>
                            <button type="submit" class="btn btn-success" name="ajt">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
       






    <div class="droite">
         <form class="form" method="POST" action="{% url 'voitures:mesvoitures' %}">
             {% csrf_token %}

            <div class="form-group">
                <label for="modele" class="col-md-4 col-form-label text-md-right">modele</label>
                <div class="col-md-6">{{ marqueform.modele }}</div>
            </div>

            <div class="form-group">
                <label for="coutparjour" class="col-md-4 col-form-label text-md-right">coutparjour</label>
                <div class="col-md-6">{{ marqueform.coutparjour }}</div>
            </div>

            <div class="form-group">
                <label for="prenom" class="col-md-4 col-form-label text-md-right">marque</label>
                <div class="col-md-6">{{ marqueform.marque }}
                </div>
            </div>
            <button type="submit" class="btn btn-success" name="ajtmodel" value="ajtmodel">Ajouter</button>
        </form>
    </div>








        <div class="scroll">
            <table id="datatable-buttons" class="table table-striped table-bordered tbD">
                <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Modele</th>
                        <th>Date arriver</th>
                        <th>cout par jour</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for levoiture in lesvoitures %}
                    <tr>
                        <td>{{ levoiture.matricule }}</td>
                        <td>{{ levoiture.model.model }}</td>
                        <td>{{ levoiture.date_ajout }}</td>
                        <td>{{ levoiture.model.coutparjour }}</td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil" title="Edit"></i>
                            </a>
                        </td>
                        
                        <td>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" title="Edit"></i> </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}